body {
  background:#111;
  font-family: Arial;
  color:white;
  padding:10px;
}

button {
  background:#00e0ff;
  border:none;
  padding:10px 15px;
  border-radius:10px;
  font-size:16px;
  margin-top:10px;
}

.cancel-btn {
  background:#ff4444 !important;
}

#rooms .room {
  background:#1a1a1a;
  padding:15px;
  border-radius:15px;
  margin-bottom:15px;
  border:1px solid #333;
}

.timer-circle {
  width:130px;
  height:130px;
  position: relative;
  margin:auto;
}

.timer-circle svg {
  transform: rotate(-90deg);
}

.timer-text {
  position:absolute;
  top:42px;
  left:0;
  width:100%;
  text-align:center;
  font-size:22px;
  font-weight:bold;
}

.popup {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.75);
  display:none;
  justify-content:center;
  align-items:center;
}

.popup-box {
  background:#222;
  padding:20px;
  border-radius:15px;
  width:80%;
}

input, select {
  width:100%;
  padding:8px;
  margin:5px 0 10px;
  border-radius:8px;
  border:none;
}

